/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color)
}

/****** header ******/
.header-top {
  display: flex;
  padding-bottom: 30px;
}

.header-top img {
  width: 61px;
  margin-right: auto;
  padding: 30px 0;
  /* propriété "margin-right" (ou left) ayant valeur "auto" sur flexbox 
  permet de fixer 1 element, ici à gauche, pr le séparer des autres elements 
  (il n'existe pas de propriétés similaires sur l'axe horizontal à celle de l'axe verticale tel 
  que "align-self" permettant de séparer et manipuler un élément 
  unique au groupe... */
}

.header-nav ul {
  display: flex;
  margin: 0;
}

.header-nav ul li {
  margin-left: 4rem;
  margin-top: 1rem;
}

.header-nav a:hover {
  /* pseudo-class hover */
  color: var(--main-color);
  border-top: 2px var(--main-color) solid;
  padding-top: 1rem;
}

.header-bottom {
  padding: 0;
}

/***** Partie Recherche ******/
.recherche form {
  display: flex;
  margin: 35px 0 35px 0;
  /* margin between this "recherche" section & "filtre" section */
}

.fa-location-dot {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: black;
  padding: 28px 21px 28px 24px;
  background-color: var(--main-bg-color);
  cursor: pointer;
}

.recherche form input {
  border: 1px solid var(--main-bg-color);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  width: 195px;
}

.recherche form button {
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--main-color);
  padding: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.recherche form .btn-glass-icon {
  display: none;
}

/****** filtre ******/
/* revoir disposition btn des icones + texte*/
.filtre {
  display: flex;
  margin-bottom: 35px;
}

.filtre p {
  font-weight: 700;
}

.filtre button {
  border-radius: 25px;
  margin-left: 15px;
  background-color: white;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid #D9D9D9;
  padding: 0;
}

.filtre button:hover {
  background-color: var(--filter-bg-color);
}

.filtre button i {
  padding-left: 19px;
  padding-right: 14px;
}

.filtre button span {
  padding-right: 19px;
}

/****** info ******/
.info {
  margin-bottom: 35px;
  /* margin between this one & next section (hebergement & populaires) */
  display: flex;
  align-items: center;
  /* to align icon & text */
  gap: 10px;
  /* space between <i> & <p> elements */
}

.info span {
  padding: 5px 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #D9D9D9;
  text-align: center;
}

.info span i {
  vertical-align: 0.525em;
  /* to center icon into cercle */
}

.info p {
  margin-top: 0;
  margin-bottom: 0;
}

/****** Hebergements And Populaires ******/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.hebergements-cards .card {
  margin-top: 33px;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  padding: 4px 15px 8px 15px;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/******* activités ******/
#activites {
  margin-top: 50px;
  padding: 15px;
}

#activites div p {
  font-weight: 700;
  padding-left: 10px;
}

.activites-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* reparti les 4 cards avec une largeur égale */
  gap: 30px;
}

.activites-cards .card {
  display: flex;
  flex-direction: column;
  height: 439px;
  padding: 0%;
  /* redefinition de la valeur de la propriété "padding" définie sur la classe "card" */
}

.activites-cards img {
  display: flex;
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
}

/****** footer ******/
footer {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  background-color: var(--main-bg-color);
}

footer div {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

footer div h3 {
  font-size: 18px;
  margin-top: 0;
  /* remove the default margin property on top & bottom on the title <h3> */
  margin-bottom: 0;
  padding-top: 20px;
  /* give the padding value we want on top on the title */
}

footer div ul {
  /* remove the default list (<ul>) padding on the left */
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

footer div ul li {
  padding-top: 20px;
}

footer div ul li:last-of-type {
  /* add a padding bottom property only to the last <li> */
  padding-bottom: 20px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

  /********** header (mobile) *************/
  body {
    margin: 0;
  }

  .main-container {
    padding: 0;
    /* remove padding from desktop default value */
  }

  .header-top {
    flex-direction: column;
    /* change navigation section position to the next line, on bottom */
  }


  .header-top img {
    padding: 30px 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .header-nav ul {
    padding-left: 0;
    /* remove default padding property */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .header-nav ul li {
    margin: 0;
  }

  .header-nav ul li a {
    /* make <a> as wide as <li> (<a> is in block & <li> is inline by default) */
    display: inline-block;
    padding-bottom: 1rem;
    width: 46vw;
    border: 2px transparent solid;
    /* to fix <a> position on hover, we can remove border-top value to 0 */
    border-top: 0;
  }

  .header-nav ul li a:hover {
    color: var(--main-color);
    border-top: none;
    border-bottom: 2px var(--main-color) solid;
    padding-top: 0;
  }

  .header-bottom {
    margin: 0 6% 35px 6%;
  }

  .header-bottom p {
    padding-top: 8px;
    margin: 0;
  }

  /*********** search-form-group recherche - filtre - info ************/
  .recherche form {
    margin-left: 20px;
    margin-right: 20px;
  }

  .recherche form .btn-text {
    display: none;

  }

  .recherche form .btn-glass-icon {
    background-color: #0065FC;
    display: block;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 17px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.25));
  }

  .recherche form .btn-glass-icon i {
    color: rgb(255, 255, 255);
  }

  .filtre {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 5px;
    padding: 0 6% 0 6%;
  }

  .filtre p {
    flex-basis: 100%;
  }

  .filtre button {
    padding: 3% 6%;
    flex-basis: 40%;
    margin-left: 0;
  }

  /* 
   * 2 prochaines sections sont inversés en mobile, 
   */
  /****  mobile -- section-hebergements&populaires   ****/
  .hebergements-and-populaires {
    flex-direction: column-reverse;
    /* 
     * valeur "column-reverse* pr inverser l'ordre de positionnement des éléments enfants, soit nos 2 colonnes, 
     * la section "populaires" qui était positionné en seconde apparaît désormais en première 
    */
  }

  /**********************************
  || mobile_section-hebergements |||
  **********************************/
  #hebergements {
    background-color: white;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: column;

  }

  /*******  mobile_section-populaires  *********/
  .populaires {
    background-color: var(--main-bg-color);
  }

  .populaires-cards {
    flex-direction: column;

  }

  /******* mobile-activités *******/
  .activites-cards {
    /* affichage en colonne à la place d'un en grille en mode desktop */
    display: flex;
    flex-direction: column;
  }


  .activites-cards .card {
    height: 200px;
  }

  .activites-cards img {
    width: 100%;
    height: 141px;
  }

  /*************************
  ||||| mobile-footer |||||
  *************************/
  footer {
    display: flex;
    flex-direction: column;
  }

}