/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    /* largeur minimum fixée à 320 px *//* largeur maximum à 1440 px */
    /* min-width: 320px; *//* max-width: 1440px; */
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul li {
  list-style: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** header ******/
.header-top {
  display: flex;
  align-items: center;
}

.header-top img {
  width: 61px;
  margin-right: auto; 
  /* propriété "margin-right" (ou left) ayant valeur "auto" sur flexbox 
  permet de fixer 1 element, ici à gauche, 
  pr le séparer des autres elements 
  (il n'existe pas de propriétés similaires sur 
  l'axe horizontal à celle de l'axe verticale tel 
  que "align-self" permettant de séparer et manipuler un élément 
  unique au groupe... */
}

.header-nav {}

.header-nav ul {
  display: flex;
  margin: 0;
  
}

.header-nav ul li {
  padding-top: 1rem;
  margin-left: 4.8rem; 
}

/*.header-nav a {
   padding: 0 20px 0 50px;
} */

.header-nav a:hover { /* pseudo-class hover */
  color: var(--main-color);
  border-top: 2px var(--main-color) solid;
}

.header-bottom {
  padding: 40px 0;
}

/***** Partie Recherche ******/
.recherche {} /* TODO */

.recherche form {
  display: flex;
}

.fa-location-dot {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: black; 
  padding: 28px 21px 28px 24px;
  background-color: var(--main-bg-color);
}

.recherche form input {
  border: 1px solid var(--main-bg-color);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  width: 180px;
}

.recherche form button {
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--main-color);
  padding: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

/****** filtre ******/
.filtre {
  display: flex;
  margin-top: 20px;
}

.filtre p {
  font-weight: 700;
}

.filtre button {
  border-radius: 25px;
  margin-left: 15px;
  padding: 4px 19px;
  background-color: white;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid #D9D9D9 ;
}

.filtre button:hover {
  background-color: var(--filter-bg-color);
}

/****** info ******/
.info {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.info div { /* ou .info i pr selectionner l'icone */
  /* margin: 15px; 
  padding: 5px 20px;*/
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--filter-bg-color);
  text-align: center;
  margin-top: 10px;
}

/* .info p {} */ /* TODO si utile */ 

/****** Hebergements And Populaires ******/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

/* .hebergements-and-populaires  .hebergements {

} */
/* différence ds le niveau de spécificité? 
y-a-t-il un intérêt à enchaîner 2 sélecteurs? 
(pour viser tel élément?) si le sélecteur de 
classe "hebergement" est précédé d'un sélecteur 
parent, ici ".hebergements-and-populaires" */

.hebergements { 
    width: 65%; 
    padding-top: 5px;
}

/* .hebergements-title {} */ /* TODO SI SELECTEUR UTILE */

.hebergements-cards {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); /* valeur égale à ": 1fr 1fr 1fr"; */
    gap: 10px;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******* activités ******/
#activites {
  margin-top: 50px;
  padding: 15px;
}

#activites div p {
  font-size: 16px;
  font-weight: 700;
  padding-left: 10px;
}

.activites-cards {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); /* reparti les 4 cards avec une largeur égale */
  gap: 30px;
}

.activites-cards .card {
  display: flex;
  flex-direction: column;
  height: 439px;
  padding: 0%; /* redefinition de la valeur de la propriété "padding" définie sur la classe "card" */
}

.activites-cards img {
  display: flex;
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
}

/****** footer ******/
footer {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  background-color: var(--main-bg-color);
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

footer div h3 {
  padding-left: 38px;
}

footer div ul {
  /* padding-left: 10%; */
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}